.developerBio {
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: left;
    text-justify: left;
    width: 500px;
    margin: auto;
    margin-top: 100px;
    z-index: 1;
}

.developerPhoto {
    position: absolute;
    z-index: 0;
    opacity: 1;
    width: 500px;
    top: 10px;
    display: flex;
}