.smallmap {
    /* height: 600px */
    height: 400px;
    width: 100%
}

.bigmap {
    /* height: 87vh; */
    /* width: 87vw */

    height: calc(100vh - 120px);
    width: 63vw;
    /* display: block; */
    position: sticky;

}