#favoritebutton {
    /* border-radius: 50%; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: .25s;
    font-size: 12px
}

.fa-heart-o, .fa-heart, .favoritetext {
    color: var(--midblue);
    transition-duration: .1s;
    padding: 3px
}

.favoritetext {
    font-weight: bolder
}

