#favoritebutton {
    /* border-radius: 50%; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: .25s;
    border: 1px solid var(--lightgrey)
}

#favoriteButton:hover {
    /* box-shadow: 1px 1px 1px 1px black; */
}

.favoritetext {
    font-size: 14px
}

.fa-heart-o, .fa-heart {
    color: var(--lightblue);
    font-weight: 100;
    /* position: absolute; */
    /* align-self: right; */
    transition-duration: .25s
}

.favoritebuttonhighlightlight {
}

.favoritebuttonhighlightdark {

}

.favhearticonlight {
    /* color: lightblue */
}

.favhearticondark {
    /* color: red */
}