.listingshowcontainer {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 50px;
    display: flex;
}

.listingshowcentercontainer {
        
    width: 60%;
    margin-left: -10px;
    padding: 10px;
    box-sizing: border-box;
}

.listingshowphoto {
    width: 100%;
}

.listingshowrightcontainer {
    padding: 10px;
    width: 40%
}


.listingshowrightinfoitem {
    padding: 10px 0 10px 0
}

.listingshowaddress {
    font-size: 22px;
    color: var(--midgrey);
    font-weight: 100;
    margin-top: 0;
    padding-top: 0
}

.listingshowpricecontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px
}

.listingshowprice {
    /* padding: 5px; */
    font-size: 25px;
    font-weight: bolder;
}

.listingshownofee {
    display: flex;
    justify-content: flex-end;
    margin-left: 10px;
    padding: 5px;
    background-color: rgba(112, 203, 240, 0.267);
    border-radius: 10px;
}

.listingshowbedsbathscontainer {
    font-size: 12px;
    display: flex;
    flex-direction: row;
    margin-top: 12px;
    padding: 8px 0 8px 0;
    border: 1px solid var(--lightgrey);
    border-left: none;
    border-right: none
}

.bedsbathsinfoitem {
    border-right: 1px solid var(--lightgrey);
    padding: 0 8px 0 8px
}

.bedsbathsinfoitem:first-child  {
    padding-left: 0
}

.bedsbathsinfoitem:last-child {
    border-right: none;
}

.listingshowrental {
    font-size: 12px;
    border-bottom: 1px solid var(--lightgrey);
    margin-bottom: 12px;
}

.listingshowrandviewers {
    font-size: 12px;
    margin-left: 0;
    padding: 12px 0 12px 0;
    border: none
}

.favsharebuttonlistingshowcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.favbuttonlistingshowcontainer, .sharebuttonlistingshow {
    margin-top: 30px;
    border: .5px solid var(--midgrey);
    transition-duration: .1s;
    width: 180px;
    height: 35px;
}

.favbuttonlistingshowcontainer:hover, .sharebuttonlistingshow:hover {
    border: 1px solid var(--lightgrey);
    transition-duration: .1s
}

.sharebuttonlistingshow {
    /* background-color: blue; */
    display: flex;  
    flex-direction: row;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    /* margin-left: 30px */
    /* height: 30px; */
}

.listingshowsubtitle {
    font-size: 24px;
    font-weight: lighter;
    margin-top: 50px;
    padding-bottom: 18px
}

.listingshowinfoitem {
    padding-bottom: 30px;
    border-bottom: 1px solid var(--lightgrey)
}

.listingshowdescription {
    font-size: 13px;
}

.listingshowavailableinfo {
    margin-top: 20px;
    border-top: 1px solid var(--lightgrey);
    border-bottom: 1px solid var(--lightgrey);
    display: flex;
    flex-direction: row;
}

.listingshowavailableinfoitem {
    padding-left: 8px;
    border-right: 1px solid var(--lightgrey);
    width: 32%
}

.listingshowavailableinfoitem:last-child {
    border-right: none
}

.listingshowavailableinfoitem:first-child {
    padding-left: 0;
}

.listingshowavailableinfoitemheader {
    font-size: 12.5px;
    font-weight: bold;
    color: var(--midgrey);
    padding-top: 8px;
    padding-bottom: 10px
}

.listingshowavailableinfoitemtext {
    font-size: 13px;
    padding-top: 20px;
    padding-bottom: 8px
}

.listingshowavailableinfodownarrow {
    font-size: 10px;
    font-weight: light;
}

.listingshowamenitieslist {
    padding: 0;
    margin: 0;
    list-style: none;
}

.listingshowamenitieslistitem {
    font-size: 13px;
    font-weight: lighter;
    padding-top: 2px;
}

.listingshowamenitiesinfoitemheader {
    font-size: 14px;
    font-weight: bold;
    color: var(--midgrey);
    padding-top: 20px;
    padding-bottom: 10px
}


.listingEditButton {
    /* background-color: var(--lightblue); */
    border-top: 1px solid var(--lightgrey);
    /* 2px solid black;   */
    border-bottom: 1px solid var(--lightgrey);
    /* 2px solid black;  */
    padding: 10px;
    padding-left: 0;
}