
/* Listing tile --------------------- */

.listingtile {
    
    position: relative;
    height: 400px;
    width: 300px;
    display: block;
    border: 1px solid rgb(216, 216, 216) ;
    overflow: hidden;
    margin: 8px 8px 8px 0;
    padding: 0;
    box-shadow: .5px .5px 3px .5px rgb(221, 221, 221);
}



.listingtile:hover {
    box-shadow: 1.5px 1.5px 3px 1.5px rgb(221, 221, 221);

}

.listingtileinfo {
    color: black;
    display: flex;
    flex-direction: column;
    height: 50%;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    padding: 10px
}

.listingtileinfoitem {
    padding: 3px 0 3px 0
}

.listingtileaddress {
    font-size: 13px;
    color: var(--lightblue)
}

.listingtileborough {
    color: var(--midgrey)
}

.listingtileprice {
    font-size: 18px;
    font-weight: bolder;
    padding: 6px 0 0 0 ;
}

.listingtileimage {
    display: block;
    height: 50%;
    overflow: hidden
}

.listingtilebedsbathscontainer {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 8px;
    width: 100%;
}


.listingtilebedsbaths:first-child  {
    border-right: 1px solid grey;
    padding-left: 0
}



.listingtilebedsbaths {
    padding: 0 10px 0 10px;
    color: var(--midgrey)
}


/* listing show page ---------------------- */

#listingShow {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: auto;
    height: 2000px;
    width: 70%;
}

#listingsplash {
    width: 80%;
}

#listingShowImage {
    display: block;
    width: 100%;
    max-height: 500px
}

#listingShowDescription {
    padding: 10px;
    margin-top: 10px;
    border-top: 1px solid grey;
}

/*  */


.listinginfoitem {
    size: smaller;
    padding: 5px
}
.listinginfoheader {
    font-size: 20px;
    font-weight: bold;
}

#listingformpage {
    display: block;
    width: 50%;
    margin-left: 15%;
    box-sizing: border-box;
}

#listingform {
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    background-color: rgb(83, 83, 85);
}

.listingformheader {
    font-size: larger;
    margin: 10px 0px
}

.listingformsubheader {
    margin-top: 5px
}

.listingforminput {
    height: 40px;   
    text-indent: 10px;
}

.listingformerror {
    color: red
}

#photoupload {
    margin-top: 5px
}

#listingformsubmitbutton {
    margin-top: 15px;
    background-color: rgb(2, 2, 90);
}

.listingformhidden{
    display: none
}

.listingformdisplay {
    display: block
}

.listingformtoggle {
    cursor: pointer;
    background-color: darkgrey;
    vertical-align: center;
}

#listingShow > #listingformpage {
    width: 100%;
    position: absolute;
    margin: 0
}

#listingShow > #listingformpage.listingformhidden {
    display: none
}

.listingformclosebutton {
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 30px
}

#listingshowtyperow {
    display: flex;
    flex-direction: row;
    align-items: center
}

#listingprice {
    font-size: larger;
    font-weight: bold;
}

#listingshowbedbathrow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#listingshowbeds {
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    
    padding-right: 10px;
}

#listingshowunit {
    border-bottom: 1px solid grey
}


/* listings index, listings list component------------------------- */


/* .box1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 5300px;
    width: 210px;
    background-color: green;    
}

.box2 {
    position: sticky;
    top: 10px;
    height: 500px;
    width: 200px;
    background-color: blue;
}

.insidebox {
    width: 100px;
    height: 100px;
    border: 2px solid black
} */

.listingsindex {
    position: relative;
    display: flex;
    flex-direction: row;
    padding-left: 3%;   
    width: 100%;
    box-sizing: border-box;
    height: 200vh;
    /* overflow-x: scroll */
}

.listingslistcontainer {
    width: 620px;
    margin: 0;
    padding: 0;
    margin-top: 4px;
    padding-right: 8px;

}

.listinglist {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* width: 80% */
}

.listingsindexmapcontainer {
    position: sticky;
    top: 112px;
    width: 62vw;
    height: calc(100vh - 200px);
    margin: 12px 0
}

