
/* Listing tile --------------------- */

.listingtile {
    
    position: relative;
    height: 400px;
    width: 300px;
    display: block;
    border: 1px solid rgb(216, 216, 216) ;
    overflow: hidden;
    margin: 8px 8px 8px 0;
    padding: 0;
    box-shadow: .5px .5px 3px .5px rgb(221, 221, 221);
}

.listingtile:hover {
    box-shadow: 1.5px 1.5px 3px 1.5px rgb(221, 221, 221);
}

.listingtileinfo {
    color: black;
    display: flex;
    flex-direction: column;
    height: 50%;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    padding: 10px
}

.listingtileinfoitem {
    padding: 3px 0 3px 0
}

.listingtileaddress {
    font-size: 13px;
    color: var(--lightblue)
}

.listingtileborough {
    color: var(--midgrey)
}

.listingtileprice {
    font-size: 18px;
    font-weight: bolder;
    padding: 6px 0 0 0 ;
}

.listingtileimage {
    display: block;
    height: 50%;
    overflow: hidden
}

.listingtilebedsbathscontainer {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 8px;
    width: 100%;
}


.listingtilebedsbaths:first-child  {
    border-right: 1px solid grey;
    padding-left: 0
}

.listingtilebedsbaths {
    padding: 0 10px 0 10px;
    color: var(--midgrey)
}
/* listing show page ---------------------- */

#listingShow {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: auto;
    height: 2000px;
    width: 70%;
}

#listingsplash {
    width: 80%;
}

#listingShowImage {
    display: block;
    width: 100%;
    max-height: 500px
}

#listingShowDescription {
    padding: 10px;
    margin-top: 10px;
    border-top: 1px solid grey;
}

/*  */

.listinginfoitem {
    size: smaller;
    padding: 5px
}
.listinginfoheader {
    font-size: 20px;
    font-weight: bold;
}



#listingShow > #listingformpage {
    width: 100%;
    position: absolute;
    margin: 0
}

#listingShow > #listingformpage.listingformhidden {
    display: none
}


#listingshowtyperow {
    display: flex;
    flex-direction: row;
    align-items: center
}

#listingprice {
    font-size: larger;
    font-weight: bold;
}

#listingshowbedbathrow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#listingshowbeds {
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    padding-right: 10px;
}

#listingshowunit {
    border-bottom: 1px solid grey
}

/* listings index, listings list component------------------------- */

.listingsindex {
    /* position: relative; */
    display: flex;
    flex-direction: row;
    padding-left: 3%;   
    width: 100%;
    box-sizing: border-box;
    /* height: 4000px; */
    overflow-x: hidden
}

.listingslistcontainer {
    width: 630px;
    margin: 0;
    padding: 0;
    margin-top: 4px;
    padding-right: 8px;
}

.listinglist {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 630px;
}

.listingsindexmapcontainer {
    position: sticky;
    top: 1
    /* height: 100vh; */
    /* top: 112px; */
    /* width: 62vw; */
    /* height: calc(100vh - 200px); */
    /* margin: 12px 0; */
}

.listingsindexmap {
    /* position: absolute */
}