.splashmain {
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    height: 600px;
    background-image: url("https://cdn-assets-s3.streeteasy.com/assets/build/media/src/features/home-page-redesign/assets/homeHero-970c6868221982051ce19013e8cb2f14.webp");
    background-repeat: no-repeat;
    background-size:cover;
    background-position-y: bottom;
    /* background-color: rgb(33, 59, 79); */
}

#spacer {
    width: 100%;
    height: 85px
}

#housingrightsbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35px;
    background-color: var(--darkblue);
    text-decoration: none;
}

#housingrightsmsg {
    text-decoration: none;
    color: lightgrey;
}

#motto {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    position: absolute;
    font-weight:lighter;
}

.splashsection {
    padding-top: 50px;
    padding-bottom: 50px;
    /* background-color: teal; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#splashsub1 {
    background-color: var(--lightsmoke);
    height: 500px;
}


#splashsub3 {
    background-color: rgb(255, 227, 209);
    /* flex-direction: row; */
}

.splashtile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    position: relative;
    width: 22%;
    height: 300px;
    background-color: white;
    margin: 10px;
    padding-top: 30px;
    border-top: 2px rgb(11, 140, 215) solid
}

.splashtilerow {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.splashtiletitle {
    font-size: 25px;
    /* padding-top: 10px; */
    margin-top:20px;
    margin-bottom: 5px;
    /* padding-bottom: 10px; */
}

.splashtiletext {
    font-weight: lighter;
    padding-top: 10px;
    padding: 10px
}

.splashsection {
    display: flex;
    flex-direction: column;
}

.splashtilebutton {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    border: 1px solid whitesmoke;
    width: 35%;
    height: 40px;
    /* margin: auto; */
    background-color: var(--midblue);
    font-weight: bolder;
    color: white
}

.splashbuttonrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 140px;
}

.splashsub3button {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 40px;
    width: 150px;
    height: 46px;
    background-color: var(--midblue);
    margin: 15px;
    font-size: 10px;
    font-weight: bolder;
    color: white;
}

.splashtilefooter {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:35%;
    bottom: 0;
    background-color: var(--bluesmoke); 
}

#splashsub2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--lighterblue);
    height: 500px;
}

#minitileheader{
    font-size: 40px;
    padding: 10px;
    padding-top: 0
}

#minitilesubheader {
    font-size: 20px;
}

#minitiles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%
}

.minitile {
    height: 200px;
    width: 18%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    /* border: 1px solid black; */
    background-repeat: no-repeat;
}

.minitileimage {
    height: 75px;
    /* width: 40%; */
    display: inline-block;
    /* border: 1px solid black; */
    padding: 10px;
}

#minitile1{
    /* background-image: url("https://cdn-assets-s3.streeteasy.com/assets/build/media/src/features/home-page-redesign/components/SignInRegisterSection/assets/questionsSupportIcon-c57b86de435018961ba2a3b6f73375f1.svg"); */
}

.minitiletext {
    display: inline-block;
    font-size: 20px;
    font-weight: lighter;
}

#minitilebutton {
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: white;
    font-weight: bolder;
    height: 46px;
    /* margin: auto; */
    background-color: var(--midblue);
    margin-top: 30px;
}
#minitilebuttontext {
    padding: 13px 30px 13px 30px 
}

.splashtileimage {
    width: 100%
}

.splashtilefootersmall {
    height: 50px;
    width: 100%;
    background-color: slategray;
    position: relative;
    top: -5px;
    display: flex;
    align-items: center;

}

.splashtilecheckbox {
    width: 20px;
    height: 20px;
    appearance: none;
    background-color: white;
    margin: 16px;
    transition-duration: .3s;
}

.splashtilecheckbox:checked {
    background-color: blue;
    border: 2px solid white
}


.splashtilelarge {
    display: block;
    width: 25%;
    margin: 10px
}

.footersmalltext {
    font-size: 18px
}