body, img, h1, h2, h3, h4, h5, h6, div, p, i, a {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    /* color: lightgrey; */
}

#main {
    box-sizing: border-box;
    position: relative;
    margin: 0px;
    padding: 0px;
    border: 0px;
    /* background-color: black; */
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    display: block;
    /* overflow-y: hidden; */
    width: 100%;
    background-color: rgb(255, 255, 255);
    --darkblue: rgb(7, 7, 114);
    --midblue: rgb(25, 25, 235);
    --highblue: rgb(75, 108, 252);
    --lightblue: rgb(127, 166, 240);
    --midgrey: rgb(83, 83, 83);
    --edgepadding: 15%;
}


