#userShowPage {
    width: 100%;
    position: relative;
    display: block
}

#userShow {
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    width: 50%;
    /* height: 500px; */
    background-color: rgb(76, 76, 80);
    padding: 20px;
    box-sizing: border-box;
}

/* #useremail p{
    ;
} */

#deleteuserbutton {
margin-top: 300px;
border: 2px solid red;
text-decoration: none;
color: rgb(118, 113, 113);
}




.usershowitem {
    display: block;
    width: 200px;
    border-bottom: 1px solid rgb(40, 39, 39);
    padding-top: 10px
    /* background-color: rgb(199, 193, 184); */
    /* border: 1px solid  */
}

.usershowitemheader {
    font-size: larger;
    margin-bottom: 10px
    /* margin: 5px */
}

.listingformhidden{
    display: none
}

.listingformdisplay {
    display: block
}

.listingformtoggle {
    cursor: pointer;;
    background-color: rgb(65, 63, 63);
    vertical-align: center;
}

/* --------------------- */


.profilepage {
    width: 100%;
    margin: 0 var(--edgepadding) 0 var(--edgepadding);
}

.profilepagefavoritesbar {
    display: flex;
    flex-direction: row;
    list-style: none;
}