#searchbar {
    display: flex;
    align-items: center;
    background-color: white;
    height: 100px;
    padding: 10px;
    box-shadow: 0 0 10px 5px rgb(179, 177, 177)
}

#searchbar input[type=text], input[type=number]  {
    height: 35px;
    /* margin: 0 10px 0 10px; */
    width: 220px
}

#searchbar .searchbarpricepicker {
    width: 90px;
}

.searchbarinputcontainer {
    height: 100%;
    font-size: 12px;
    padding: 0 10px 0 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.searchbarinputcontainer > p, input {
    margin-bottom: 10px;
}

.searchbarinputcontainer > p {
    font-weight: bold;
    color: rgb(87, 86, 86)
}

.searchbarinputcontainerlocation {
    border-right: 1px solid rgb(204, 204, 204)
}

.buyrentslider {
    display: none;
    opacity: 0;
}

.searchbarrentslidercontainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100px;
    background-color: rgb(236, 236, 236);
    border-radius: 6px;
    margin: 8px;
    border: 1px solid rgb(221, 221, 221);
}

.buyrentsliderlabel {
    display: flex;
    /* position: relative; */
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
    /* z-index: 100; */
    transition: .25s;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 800;
    color: rgb(87, 86, 86)
}

.buyrentsliderlabel p {
    z-index: 1;
    position: absolute
}

.buyrentsliderslider {
     height: 45%;
     width: 90%;
     border-radius: 4px;
     /* transform: translateY(20px); */
     background-color: blue;
     position: absolute;
     bottom: 2px;
     transition-duration: .25s;
}

.buyrentslider:checked ~ .labelrent {
    color: white
}

.buyrentslider:not(:checked) ~ .labelbuy {
    color: white
}

.buyrentslider:checked ~ .buyrentsliderslider {
    transform: translateY(-40px);
}

.searchbarsubmit {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--highblue);
    height: 80px;
    width: 80px;
    color: white;
    margin: 10px;
    
    /* appearance: none; */
}