/* Header ----------------- */

#header {
    position: sticky;
    width: 100%;
    height: 100px;
    margin: 0 80;
    padding: 0px;
    border: 0px;
    z-index: 99;
    top: 0;
    left: 0;
}

.navbanner {
    height: 50%;
    background-color: var(--darkblue);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--edgepadding) 0 var(--edgepadding);
        
}

.navlinkbar {
    height: 50%;
    color: black;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 0 var(--edgepadding) 0 var(--edgepadding);
    line-height: 45px;
    border-bottom: 1px solid rgb(235, 235, 235);
    box-shadow:  0px  1px 1px rgb(201, 200, 200)
}

/* Elements in header ----------------------- */

/* Nav Links --------------------- */


#navlinks {
    display: flex;
    color: black;
    font-size: 14px;
    font-weight: 700;
    font-weight: bolder;
}

.navbutton {
    box-sizing: border-box;
    text-transform: uppercase;
    margin-right: 25px;
    padding: auto 0 auto 0
}

 .navbutton:hover {
    border-bottom: 3px solid var(--midblue);
    cursor: pointer;
    margin-bottom: -3px
}

/* Logo -------------------- */


#logo {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}


#logolink {
    color: whitesmoke;
    text-decoration: none;
}

/* Banner links (account/login buttons, social links)--------------------- */

.bannerlinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#loginsignupbutton {
    box-sizing: border-box;
    /* margin-left: 50%; */
    margin-top: auto;
    margin-bottom: auto;
}
#accountbutton {
    position: relative;
    box-sizing: border-box;
    /* margin-left: 50%; */
    margin-top: auto;
    margin-bottom: auto;
}

#accountbutton:hover #accountdropdown{
    position: absolute;
    flex-direction: column;
    background-color: rgb(36, 35, 35);
    border: 2px solid black;
    width: 100%;
    display: block;
    z-index: 98;
}

#accountdropdown {
    display: none;
    text-decoration: none;
}


#loginsignupbutton:hover {
    /* color: rgb(5, 5, 110); */
    text-decoration: underline;
    cursor: pointer;
}


.sociallogo {
    height: 30px;
    /* filter: invert(1); */
    padding-left: 20px
}


/* #navcontainer {
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
} */



/* Drop down links list ------------------------ */


 #dropdown {
    position: absolute;
    width: 100%;
    height: 250px;
    top: 100px;
    background-color: white;
    display: none;
    padding: 15px 0 15px 0;
    z-index: 1500;
    box-shadow: 0px 2px 2px  rgb(148, 148, 148);
    padding-left: 15%;
    transition-duration: .25s;
    opacity: 1;

}

.navlinkbar:hover ~ #dropdown {
    display: flex;
}

#dropdown:hover {
    display:flex;
    /* box-shadow: 10px 10px 10px  black; */
}

.dropdowncontentcontainer{
    display: flex;
    flex-direction: row;
}

.dropdownboroughlistcontainer, .dropdownneighborhoodlistcontainer {
    padding-right: 90px
}

.dropdownboroughlistheader, .dropdownneighborhoodlistheader {
    padding: 10px 0 5px 0;
    font-size: 12px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(53, 52, 52)
}

.dropdownboroughlistitem, .dropdownneighborhoodlistitem {
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    margin:  9px 0 9px 0; 
    padding: none; 


}

.dropdownboroughlist, .dropdownneighborhoodlist {
    font-size: 11px;
    list-style: none;
    margin: 0;
    padding: 0;
}



/* ------------------------------------------ */


#main {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}


input.listingforminput {
    margin: 0px;
    padding: 0px
}

.listingforminput {
    /* margin: none; */
    padding: 0px;
}

.listingforminput {
    /* margin: 10px 0px; */
    /* padding-bottom: 10px; */
}

